<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="text-center mt-1 mb-4">マイページ</h3>
    <div class="table-responsive">
      <div class="text-center mb-4">
        <%= image_tag current_user.user_image.url, class: "user_image" %>
      </div>
      <table class="table table-bordered">
        <tr>
          <th class="table-info w-25">氏名</th> 
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th class="table-info">メールアドレス</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th class="table-info">プロフィール</th>
          <td><%= current_user.profile %></td>
        </tr>
      </table>
    </div>
    <div class="text-center">
      <% if current_user.email == 'guest@example.com'%>
        <%= link_to "編集する", edit_user_registration_path, class: "btn btn-primary mb-4 disabled" %>
      <% else %>
        <%= link_to "編集する", edit_user_registration_path, class: "btn btn-primary mb-4" %>
      <% end %>
    </div>  
  </div>
</div>
