<div id="map" class="map-maps"></div>

<script type="text/javascript">
  function initMap() {
    let latlng = new google.maps.LatLng(35.6803997, 139.7690174);
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5.8,
      center: latlng
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    <% @posts.each do |post| %> 
      ( function(){
        let markerLatLng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> };
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          content: "<a href='<%= post_path(post.id) %>' target='_blank'><%= post.title %></a>"
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
  }
</script>
<style type="text/css">
  #map { height: 80vh;
         width: 75%;
         position: relative;
         left:12.5%
        }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['API_KEY']}"%>&libraries=places&callback=initMap" async defer></script>
