<div class="mt-5">
  <%= render "index_map"%>
</div>
<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="text-center mt-1">投稿一覧</h3>
    <div class="text-end mb-3">
      <% if user_signed_in? %>
        <%= button_to "投稿する", {controller: 'posts', action: 'new'}, {method: :get, class: 'btn btn-primary'} %>
      <% end %>
      <div class="search text-center">
        <%= form_with url: posts_path, local: true, method: :get do |form| %>
          <%= form.text_field :keyword, placeholder: "投稿を検索" %>
          <%= form.submit "検索" %>
        <% end %>
      </div>
      <div class="post_sort text-center mt-2">
         <%if params[:keyword].blank? %>
          <%= link_to_unless_current '新着順', posts_path(latest: "true")%>
          <%= link_to_unless_current '古い順', posts_path(old: "true"), class: "ms-2 me-2" %>
          <%= link_to_unless_current '人気順', posts_path(most_favorited: "true") %>
        <% else %>
          <h5>検索結果"<%= @posts.count %>件"</h5>
        <% end %>
      </div>
    </div>
    <%= render partial: "shared/posts_index", collection: @posts, as: 'post' %>
  </div>
</div>
